/*Parte de Karol*/

body {
  background-color: rgb(204, 204, 204);
}

.contenido {
  margin: 5px auto;
  width: 1300px;
  text-align: justify;
}

.contenido p {
  margin-bottom: 2em;
  font-family: 'Roboto', sans-serif;
}
.contenido div {
margin-bottom: 2em;
font-family: 'Roboto', sans-serif;
}

.ir-arriba {
  display: none;
  padding: 20px;
  background: #B7918C;
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/*Parte de Elisa*/
#cuadradotitulo {
  width: 1300px;
  height: 57px;
  background: #B7918C;
  border-radius: 10px;
  color: black;
  font-family:"Comic Sans MS";
  font-size:x-large;
}

#cuadradosubtitulo {
  width: 350px;
  height: 40px;
  background:  #4D597D;
  border-radius: 10px;
  color: #FFF8F0;
  font-family:"Comic Sans MS";
}

#cuadradolistado {
  width: 600px;
  height: 210px;
  background: #9FC490;
  border-radius: 10px;
  font-family:"Comic Sans MS";
}

#cuadradotitulodefiniciones1 {
  width: 450px;
  height: 35px;
  background: #57886C;
  border-radius: 10px;
  color: black;
  font-family:"Comic Sans MS";
}

#cuadradotitulodefiniciones2 {
  width: 980px;
  height: 35px;
  background: #bb7397;
  border-radius: 10px;
  color: #FFF8F0;
  font-family:"Comic Sans MS";
}
#cuadradotitulodefiniciones3 {
  width: 620px;
  height: 40px;
  background: #752121;
  border-radius: 10px;
  color: #FFF8F0;
  font-family:"Comic Sans MS";
}