/*Parte de Elisa*/
#cuadradotitulo {
  width: 700px;
  height: 35px;
  background: #a6c068;
  border-radius: 10px;
}

#cuadradosubtitulo {
  width: 350px;
  height: 35px;
  background: #04ccf0;
  border-radius: 10px;
}

#cuadradolistado {
  width: 350px;
  height: 170px;
  background: #a6c068;
  border-radius: 10px;
}

#cuadradotitulodefiniciones1 {
  width: 350px;
  height: 35px;
  background: #a6c068;
  border-radius: 10px;
}

#cuadradotitulodefiniciones2 {
  width: 950px;
  height: 35px;
  background: #a6c068;
  border-radius: 10px;
}
#cuadradotitulodefiniciones3 {
  width: 620px;
  height: 35px;
  background: #a6c068;
  border-radius: 10px;
}

